body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}

nav{
  display: flex;
  width: 80vw;
  justify-content: flex-end;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  /* padding: 2rem; */
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 8vw;
  margin-top: 5vw;
}

footer > img{
  width: 100vw;
  margin: 0;
}
footer > p{
  margin: 0;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.dark .card h3{
  color: white;
}

.dark .card h2{
  color: white;
}

.dark .card .favButton{
  color: white;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: rgb(20, 19, 19);
  color: white;
  height: 100%;
}
.dark > a {
  color: white;
}

.dark .navbar{
  display: flex;
  padding-left: 8vw;
  background-color: black;
  height: 6vw;
  color: white;
}

.dark .navbar p{
  color: white;
}

.dark .navbar h3{
  color: white;
}

.dark .navbar .back-btn{
  background-color: #000;
  color: white;
}

.dark .navbar .theme-btn{
  background-color: white;
  padding-bottom: 0.4vw;
}

.footer-logo-and-icons{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1vw;
}

.footer-icons{
  filter: brightness(15%);
  margin: 0.8vw 0.5vw 0.2vw 0.5vw;
}

.footer-paragraph{
  background-color: red;
  text-align: center;
  padding-bottom: 0.7vw;
  margin-bottom: 0.8vw;
  padding-top: 0.8vw;
  font-size: 1.2vw;
  font-weight: lighter;
}

.dark footer{
  background-color: #000;
}

.dark .footer-logo-and-icons img{
  filter: brightness(2000%);
}

.dark .footer-logo-and-icons{
  filter: brightness(500%);
}

.navbar{
  display: flex;
  padding-left: 8vw;
  background-color: rgb(230, 228, 228);
  height: 6vw;
}

.navbar p{
  width: 20vw;
  font-weight: 500;
  font-size: 2vw;
  color: black;
}

.navbar nav h3{
  font-weight: 500;
  margin-right: 1vw;
  font-size: 1.4vw;
}

.navbar nav button{
  border: none;
  margin-right: 1vw;
}

.back-btn{
  color: #000;
  font-size: 2.5vw;
  font-weight: bold;
  background-color: rgb(230, 228, 228);
  height: 2vw;
  margin-top: 1.5vw;
}

.navbar nav .theme-btn{
  background-color: #000;
  height: 2.4vw;
  margin-top: 1.5vw;
  border-radius: 0.6vw;
  padding-bottom: 0.6vw;
}

.contact{
  height: 28vw;
  padding-left: 5vw;
}

.contact p{
  margin-bottom: 4vw;
}

.delete-favs-btn{
  border-radius: 2vw;
  border: none;
  height: 2.5vw;
  width: 8vw;
  margin-right: 1vw;
  margin-top: 0.5vw;
  font-size: 0.7rem;
  font-weight: 900;
  color: #000;
  font-style:inherit;
  background-color: rgb(239, 76, 76);
  margin-left: 90vw;
}

.contact form{
  height: 15vw;
  background-color: #ccc;
  border-radius: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.contact form label{
  font-style:oblique;
}

.contact form input{
  font-style: italic;
  border-radius: 2vw;
}

.contact form button{
  width: 8vw;
  margin-left: 6vw;
  border-radius: 1vw;
  font-weight: 700;
  background-color: grey;
}

.dark label{
  color: #000;
}

.dark table tbody td{
  color: #000;
}

@media screen and (min-width: 769px) and (max-width: 1024px){
  .contact{
    height: 40vw;
  }
  .contact form{
    height: 20vw;
  }

  .contact form button{
    margin-left: 10vw;
  }

  footer{
    height: 10vw;
  }

  .footer-paragraph{
    font-size: 1.6vw;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px){
  .navbar{
    height: 8vw;
  }

  .dark .navbar{
    height: 8vw;
  }

  .navbar p{
    font-size: 2.5vw;
  }

  .navbar nav h3{
    font-size: 1.8vw;
  }
  
  .back-btn{
    font-size: 2.5vw;
    height: 2vw;
    margin-top: 2.5vw;
  }

  .navbar nav .theme-btn{
    height: 3vw;
    margin-top: 2.1vw;
    padding-bottom: 0.7vw;
  }
  
  .contact{
    height: 45vw;
  }
  .contact form{
    height: 25vw;
  }

  .contact form label{
    font-size: 1.8vw;
  }

  .contact form button{
    margin-left: 14vw;
  }

  .delete-favs-btn{
    height: 3vw;
    width: 12vw;
    font-size: 0.7rem;
    border-radius: 4vw;
    margin-left: 85vw;
    font-weight: 700;
  }

  footer{
    height: 10vw;
  }

  .footer-paragraph{
    font-size: 2vw;
  }
}

@media screen and (max-width: 425px){
  .navbar{
    height: 13vw;
  }

  .dark .navbar{
    height: 13vw;
  }

  .navbar p{
    font-size: 3.5vw;
  }

  .navbar nav h3{
    font-size: 2.8vw;
  }
  
  .back-btn{
    font-size: 4vw;
    height: 2.5vw;
    margin-top: 3.2vw;
  }

  .navbar nav .theme-btn{
    height: 5vw;
    margin-top: 3vw;
    padding-bottom: 1vw;
  }
  
  .contact{
    height: 80vw;
  }
  .contact form{
    height: 40vw;
  }

  .contact form label{
    font-size: 3vw;
  }

  .contact form button{
    width: 20vw;
    margin-left: 24vw;
  }

  .delete-favs-btn{
    height: 5vw;
    width: 20vw;
    margin-left: 75vw;
    border-radius: 5vw;
    font-weight: 700;
  }

  footer{
    height: 20vw;
  }

  .footer-paragraph{
    font-size: 3.5vw;
  }
}